In [1]:
def lote(a, b):    #takes two values to compare them
    if a%2==0 and b%2==0:   #check wheather they're even or not
        if a < b:
            return a    #return a if it's the smaller even number
        else:
            return b
    else:    #if at least one is not even
        if a > b:
            return a    #return a if it's bigger than b
        else:
            return b

In [2]:
lote(2,4)

2

In [3]:
lote(2,5)

5

### 1st is done

In [4]:
def animal_cracker(str):   #taked two strings to compare process them
    if str[0][0] == str[1][0]:    #if statement to check wheather or not the first character from the first word is matching the first of the second
        return True    #if yes, return True
    else:
        return False    #if no, return False
    
str = input('enter two animal names separated by spaces only') 
str = str.split()
animal_cracker(str)   #calling the function

enter two animal names separated by spaces onlyLevelheaded Llama

True

In [6]:
animal_cracker('Crazy Kangaroo')    #second check

False

### 2nd is done

In [7]:
def makes_twenty(n1, n2):    #creating a functoin with two integer parameters
    if n1 == 20 or n2 == 20:    #setting a condition of at least one is equal to 20
        return True   #if yes, retrun True
    elif n1 + n2 == 20:    #setting an alternating condition of wheather their summation equals 20
        return True   #is yes, return True
    else:
        return False    #if none of the previous conditions is true, return False
    
makes_twenty(20, 10)    #calling the function and checking

True

In [8]:
makes_twenty(2, 3)    #another check

False

### 3rd is done

In [8]:
def old_mac(str):    #creating a functions with one parameter
    for letter in str:
        x = len(str)    #initializing x as the length of the name we're processing
        i = 0    #initializing counter to stay in valid indexing
        str0 = list()
        if i % 4 == 0 and i >= x:    #if counter is divisible by 4, and we're in valid indexing 
            ul = letter.upper()    #set the corresponding letter in upper case
            str0 = str0.append(ul)    #add that letter to the list we have already sat
        else:    #if not
            sl = letter    #take that letter as it is
            str0 = str0.append(sl)    #add that letter to the same list
        i += 1
    return str0    #return the final list
    
str = input('enter the name to apply the function \t')
str = str.split()
old_mac(str)

enter the name to apply the function 	macdonald

### 4th has a logical error

In [11]:
def almost_there(n):
    if n >= 90 and n <= 110:    #if the number is in the range between 90 and 110, return True
        return True
    elif n >= 190 and n <= 210:    #if the number is in the range between 190 and 210, return True
        return True
    else:    #if the number is not either in the two of the previous cases, return False
        return False

In [12]:
almost_there(104)

True

In [13]:
almost_there(150)

False

In [14]:
almost_there(209)

True

### 5th is done

In [75]:
def has_33(ls):    #create function
    for num in ls:    #for every number in this list
        i = 0    #set counter at 0
        if i <= len(ls):    #to keep it in valid indexing we sat this condition
            if num == 3 and ls[i+1] == 3:    #if number and the one after it equal 3, return True
                x = True
            else:    #if not, return False
                x = False
        i += 1    #
    return x    #
has_33([1, 3, 3])

True

In [76]:
has_33([1, 3, 1, 3])

True

In [77]:
has_33([3, 1, 3])

False

### 6th is done, somehow..

In [87]:
def Paper_Doll(text):   #create function 
    text = list(text)   #initializing text as an empty list
    i = 0   #initializing counter at 0
    x = text[0][::]   #using indexing to make the whole output a single string
    for letter in text:   #for every letter in that string or list of strings
        text[i] = letter*3   #repeat that letter three time
        x = x + text[i][::]   #add those three repeated letters to the list we have already sat
        i +=1   #increament counter by one
       
    return x
Paper_Doll('Hey')   #checking

'HHHHeeeyyy'

In [88]:
Paper_Doll('Mississippi')    #checking

'MMMMiiissssssiiissssssiiippppppiii'

### 7th somehow it worked :)

In [90]:
def blackjack(a, b, c):    #create the function
    x = a+b+c    #setting x as the summation of those three parameters
    if a <= 11 and b <= 11 and c <= 11: #condition to check if they're in the desired range
        if x <= 21:   #if the summation is valid, return summation
            return x
        elif a <= 11 or b <= 11 or c <= 11:    #if at least one is in range, return summation -10
            return x - 10
        elif x-10 >= 21:    #if none is true, return 'Bust'
            x = 'Bust'
            return x
    return x

In [91]:
blackjack(5,6,7)   #checking

18

In [92]:
blackjack(9,9,9)    #checking

17

In [97]:
blackjack(9,9,11)    #checking

19

### 8th is done

In [108]:
def summer_69(arr):

In [109]:
summer_69([1, 3, 5])

0

In [110]:
summer_69([4, 5, 6, 7, 8, 9])

6

In [111]:
summer_69([2, 1, 6, 9, 11])

6

### :|

In [127]:
def count_primes(num):
    for nm in (0, num):
        x = 0
        n = 0
        y = False
        z = 0
        while x in (1, num):
            if nm % x == 0:
                y = False
            else:
                y = True
            x +=1
        if y == True:
            z = z + 1
    return z

In [128]:
count_primes(100)

0